<div>
  <section class="contact-main">
    <div class="container">
      <div class="contact-info">
        <div class="row">
          <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="cnt-bx">
              <div class="cnt-icon">
                <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
              </div>
              <div class="cnt-text">
                <h2>Address</h2>
                <p>al khludh Souq- Near to Oman oil Sultante of Oman</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="cnt-bx">
              <div class="cnt-icon">
                <a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>
              </div>
              <div class="cnt-text">
                <h2>telePhone</h2>
                <p>0096892009933</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="cnt-bx">
              <div class="cnt-icon">
                <a href="#"><i class="fa fa-fax" aria-hidden="true"></i></a>
              </div>
              <div class="cnt-text">
                <h2>Fax</h2>
                <p>(+1) 3 8376 6284</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="cnt-bx">
              <div class="cnt-icon">
                <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
              </div>
              <div class="cnt-text">
                <h2>Email</h2>
                <p>info@domain.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="how-work-head contact-head">
        <div class="row">
          <div class="col-md-12">
            <div class="home-heading ">
              <h4 class="wow bounceInDown"><span>Say Hello!</span>
                <strong>Send Us a <span class="orange">Message</span></strong></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="contact-form-main">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="cnt-form">
              <form>
                <div class="form-row">
                  <div class="form-group col-xs-12 col-sm-4 col-md-4">
                    <input type="text" class="form-control" placeholder="Your Name *">
                  </div>
                  <div class="form-group col-xs-12 col-sm-4 col-md-4">
                    <input type="text" class="form-control" placeholder="Your Email *">
                  </div>
                  <div class="form-group col-xs-12 col-sm-4 col-md-4">
                    <input type="tel" class="form-control" placeholder="Your Phone *">
                  </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12">
                  <input type="text" class="form-control" placeholder="Subject">
                </div>
                <div class="form-group col-xs-12 col-sm-12">
                  <div class="form-check">
                    <textarea placeholder="Message *" class="form-control"></textarea>
                  </div>
                </div>
                <button type="submit"><img src="../../../../assets/images/sub-btn.png"></button>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <div class="map-main">
    <div class="container-fluid">
      <div class="row">
        <img src="../../../../assets/images/map.jpg" class="img-responsive">
      </div>
    </div>
  </div>
  <section class="subsciber-area sub-inner">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Newsletter Signup</h3>
          <h4>Subscribe & get <span class="orange">20%</span> Off</h4>
        </div>
        <div class="col-md-6">
          <form method="post" action="">
            <p class="wysija-paragraph">
              <input type="text" title="Email Address" placeholder="Email Address" value="">
            </p>

            <input class="wysija-submit wysija-submit-field" type="submit" value="Subscribe!">
          </form>

        </div>
      </div>
    </div>
  </section>
</div>
