<div>
  <section class="listing-main">
    <div class="container">
      <div class="listing-search">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-8">
            <h2>Search vehicles for your location</h2>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <select class="form-control">
              <option>Texas</option>
              <option>Texas</option>
              <option>Texas</option>
            </select>
          </div>
        </div>
      </div>
      <div class="listing-search l-s2">
        <div class="row">
          <div class="col-xs-12 col-sm-3 col-md-3">
            <select class="form-control" [(ngModel)]="filter.category_id"
                    (change)="getListings()">
              <option [ngValue]="null">-- SELECT --</option>
              <option *ngFor="let category of categories" [value]="category.id">{{category.category}}</option>
            </select>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3">
            <select class="form-control" [(ngModel)]="filter.brand_id"
                    (change)="getListings()">
              <option [ngValue]="null">-- SELECT --</option>
              <option *ngFor="let brand of brands" [value]="brand.id">{{brand.brand}}</option>
            </select>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3">
            <select class="form-control">
              <option>any Price</option>
              <option>Texas</option>
              <option>Texas</option>
            </select>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="listing-icons pull-right">
              <a href="#"><img src="../../../assets/images/listing-icon1.png"></a>
              <a href="#"><img src="../../../assets/images/listing-icon2.png"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="listing-product">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4"
               *ngFor="let listing of listingResponse?.data">
            <div class="l-product-bx">
              <div class="p-head">
                <h3>{{listing.name}}</h3>
              </div>
              <div class="p-price">
                <h2>${{listing.rate}}<sup>oo</sup><span>/ Day</span></h2>
              </div>
              <div class="p-img">
                <a [routerLink]="['details', listing.id]">
                  <img src="{{BASE_URL}}/resize/{{listing.image_url}}">
                </a>
              </div>
              <div class="info">
                <ul>
                  <li *ngFor="let feature of listing.features">
                    <img src="{{BASE_URL}}/resize/{{feature.icon}}" *ngIf="feature.icon">
                    {{feature.feature}}
                  </li>
                </ul>
              </div>
              <div class="p-link">
                <a [routerLink]="['details', listing.id]">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="listing-pagi">
        <div class="row">
          <div class="col-md-12">
            <ul class="pagination pagination-lg" *ngIf="listingResponse">
              <!--<li>-->
              <!--<a (click)="listingResponse.prev_page_url && getListingsByUrl(listingResponse.prev_page_url)">-->
              <!--<i class="fa fa-arrow-left" aria-hidden="true"></i>-->
              <!--</a>-->
              <!--</li>-->
              <!--<li>-->
              <!--<a (click)="listingResponse.next_page_url && getListingsByUrl(listingResponse.next_page_url)">-->
              <!--<i class="fa fa-arrow-right" aria-hidden="true"></i>-->
              <!--</a>-->
              <!--</li>-->
              <li *ngFor="let item of listingResponse.data
                | paginate: { itemsPerPage: 6, currentPage: page, totalItems: listingResponse.total }">
              </li>
              <pagination-controls
                (pageChange)="page = $event; getListingsByPageNumber(listingResponse.path, page)"></pagination-controls>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="happy-client happy-cl2">
    <div class="container">

      <div class="client-says">

        <div class="client-item">
          <div class="cricle-thumb"><img src="../../../assets/images/client-1.jpg"></div>
          <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
            consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet
            mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
          <div class="star5"><img src="../../../assets/images/star5.png"/></div>
          <h4>Catrina Romero</h4>
        </div>
        <div class="client-item">
          <div class="cricle-thumb"><img src="../../../assets/images/client-1.jpg"></div>
          <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
            consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet
            mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
          <div class="star5"><img src="../../../assets/images/star5.png"/></div>
          <h4>Catrina Romero</h4>
        </div>

      </div>

    </div>
    <section class="brand-main1 clearfix">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <img src="../../../assets/images/brand.png">
          </div>
          <!--    <div class="col-xs-12 col-sm-4 col-md-2">
               <div class="brand-bx">
                 <img src="../../assets/images/ab-1.png">
               </div>
             </div>
             <div class="col-xs-12 col-sm-4 col-md-2">
               <div class="brand-bx">
                 <img src="../../assets/images/ab-2.png">
               </div>
             </div>
             <div class="col-xs-12 col-sm-4 col-md-2">
               <div class="brand-bx">
                 <img src="../../assets/images/ab-3.png">
               </div>
             </div>
             <div class="col-xs-12 col-sm-4 col-md-2">
               <div class="brand-bx">
                 <img src="../../assets/images/ab-4.png">
               </div>
             </div>
             <div class="col-xs-12 col-sm-4 col-md-2">
               <div class="brand-bx">
                 <img src="../../assets/images/ab-5.png">
               </div>
             </div>
             <div class="col-xs-12 col-sm-4 col-md-2">
               <div class="brand-bx">
                 <img src="../../assets/images/ab-6.png">
               </div>
             </div> -->
        </div>
      </div>
    </section>
  </section>
</div>
