<div>
  <header>
    <div class="inner-banner">
      <img src="../../../../assets/images/service-banner.jpg"/>
      <div class="innerbanner-content">
        <div class="container">
          <h1>Our News</h1>
          <div class="breadcrumb-inner">
            <ul>
              <li>Home</li>
              <li><a href="#">- &nbsp;News</a></li>
            </ul>

          </div>
        </div>
      </div>
    </div>

    <div class="uppperlayer-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="logo-res">
              <a routerLink="/"><img src="../../../../assets/images/logos.png"></a>
            </div>
          </div>
        </div>

        <div class="innerheader">
          <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
              <a id="logo" routerLink="/"><img src="../../../../assets/images/logos.png"></a>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9">
              <div class="topbar">
                <ul class="top-contact">
                  <li class="fa fa-phone"><a href="#_">(+1) 3214 546789</a></li>
                  <li class="fa fa-envelope"><a href="mailto:info@domain.com">info@domain.com</a></li>
                </ul>
                <ul class="topbar-right">
                  <li><a routerLink="/register" routerLinkActive="active-link">Account</a></li>
                  <li><a href="#">عربى</a></li>
                  <li><a href="#">USD</a></li>
                </ul>
              </div>

              <nav>
                <ul>
                  <li><a routerLink="/about-us" routerLinkActive="active-link">ABOUT US</a></li>
                  <li><a routerLink="/car-listings" routerLinkActive="active-link">LISTING</a></li>
                  <li><a routerLink="/services" routerLinkActive="active-link">SERVICES</a></li>
                  <li><a routerLink="/how-it-works" routerLinkActive="active-link">HOW IT WORKS</a></li>
                  <li><a routerLink="/news" routerLinkActive="active-link">NEWS</a></li>
                  <li><a routerLink="/contact-us" routerLinkActive="active-link">CONTACT US</a></li>
                </ul>
              </nav>
              <a routerLink="/reservation" class="res-tab"><img src="../../../../assets/images/reservation-btn.png"></a>
            </div>
          </div>
        </div><!-- Inner Header -->
      </div>
    </div>
  </header>

  <section class="news-main">
    <div class="container">

      <div class="news-head">
        <div class="row">
          <div class="col-md-12">
            <div class="home-heading ">
              <h4 class="wow bounceInDown"><span>our News</span>
                <strong>the Latest <span class="orange">news</span></strong></h4>
            </div>
          </div>
        </div>
      </div>

      <div class="news-info">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 newsboxes"
               *ngFor="let news of newsResponse?.data">
            <div class="content-box">
              <div class="datearea">{{ news.created_at | date: 'dd MMMM yyyy'}}</div>
              <div class="thumb-icon">
                <a [routerLink]="['details', news.id]"><img src="{{BASE_URL}}/resize/{{news.banner_image}}"></a>
              </div>
              <h3>{{news.title}}</h3>
              <p>{{news.description}}</p>
              <a [routerLink]="['details', news.id]">Read more > </a>
            </div>
          </div>
        </div>
      </div>
      <div class="listing-pagi">
        <div class="row">
          <div class="col-md-12">
            <ul class="pagination pagination-lg" *ngIf="newsResponse">
              <li
                *ngFor="let item of newsResponse.data
                | paginate: { itemsPerPage: 6, currentPage: page, totalItems: newsResponse.total }">
              </li>
              <pagination-controls
                (pageChange)="page = $event; getNewsByPageNumber(newsResponse.path, page)">
              </pagination-controls>
              <!--<li>
                <a (click)="newsResponse.prev_page_url && getNewsByUrl(newsResponse.prev_page_url)">
                  <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </a>
              </li>
              <li *ngFor="let page of getPages()">
                <a (click)="getNewsByUrl(page.url)">{{page.page}}</a>
              </li>
              <li></li>
              <li></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li>
                <a (click)="newsResponse.next_page_url && getNewsByUrl(newsResponse.next_page_url)">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
              </li>-->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
