<div>
  <a href="javascript:" id="return-to-top"><i class="fa fa-hand-o-up"></i></a>
  <a id="hamburg" href="#">
    <div class="nav-cross">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </a>
  <div id="menuoverlay"></div>
  <nav class="nav1">
    <div class="container">
      <div class="row">
        <div class="menu-main-menu-container">
          <div class="logo">
            <a routerLink="/"><img src="../../assets/images/logos.png"></a>
          </div>
          <div class="res-cnt">
            <ul>
              <li class="fa fa-phone">0096892009933</li>
              <li class="fa fa-envelope"><a href="mailto:info@domain.com">info@domain.com</a></li>
              <li><a routerLink="(register)">Account</a></li>
              <li><a href="#">عربى</a></li>
              <li><a href="#">USD</a></li>
            </ul>
          </div>
          <ul id="menu-main-menu" class="menu">
            <li><a routerLink="/about-us">ABOUT US</a></li>
            <li><a routerLink="/car-listings">LISTING</a></li>
            <li><a routerLink="/services">SERVICES</a></li>
            <li><a routerLink="/how-it-works">HOW IT WORKS</a></li>
            <li><a routerLink="/news">NEWS</a></li>
            <li><a routerLink="/contact-us">CONTACT US</a></li>
          </ul>
          <div class="reserv-btn">
            <a routerLink="reservation"><img src="../../assets/images/reservation-btn.png"></a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
