<div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3">
          <img src="../../assets/images/footer-logo.png">
          <div class="address">al khludh Souq- Near to Oman oil <br>Sultante of Oman<br>Bulding number : k 785<br>P.O
            Box: 821 <br>P.C : 130 Al Athibah
          </div>
          <div class="phone">0096892009933</div>
          <div class="email">info@domain.com</div>

          <div class="f-social">
            <ul>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>

        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">
          <h4>Useful Links</h4>
          <ul>
            <li><a routerLink="/about-us" routerLinkActive="active-link">ABOUT US</a></li>
            <li><a routerLink="/car-listings" routerLinkActive="active-link">LISTING</a></li>
            <li><a routerLink="/services" routerLinkActive="active-link">SERVICES</a></li>
            <li><a routerLink="/how-it-works" routerLinkActive="active-link">HOW IT WORKS</a></li>
            <li><a routerLink="/news" routerLinkActive="active-link">NEWS</a></li>
            <li><a routerLink="/contact-us" routerLinkActive="active-link">CONTACT US</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2">
          <h4>Support</h4>
          <ul>
            <li><a href="#">FAQ’s</a></li>
            <li><a href="#">Term & Conditions</a></li>
            <li><a routerLink="/contact-us" routerLinkActive="active-link">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h4>Instagram</h4>
          <img src="../../assets/images/instagram-box.png"/>
        </div>


      </div>
    </div>
  </footer>
  <section class="copyright">Copyrights © 2017 | All Right Reserved.</section>
</div>
