<div>
  <header>

    <div class="inner-banner">

      <img src="../../../assets/images/service-banner.jpg"/>

      <div class="innerbanner-content">
        <div class="container">
          <h1>About US</h1>
          <div class="breadcrumb-inner">
            <ul>
              <li>Home</li>
              <li><a href="#">- &nbsp;about</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="uppperlayer-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="logo-res">
              <a routerLink="/"><img src="../../../assets/images/logos.png"></a>
            </div>
          </div>
        </div>

        <div class="innerheader">
          <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
              <a id="logo" routerLink="/"><img src="../../../assets/images/logos.png"></a>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9">
              <div class="topbar">
                <ul class="top-contact">
                  <li class="fa fa-phone"><a href="#_">(+1) 3214 546789</a></li>
                  <li class="fa fa-envelope"><a href="mailto:info@domain.com">info@domain.com</a></li>
                </ul>
                <ul class="topbar-right">
                  <li><a routerLink="/register" routerLinkActive="active-link">Account</a></li>
                  <li><a href="#">عربى</a></li>
                  <li><a href="#">USD</a></li>
                </ul>
              </div>

              <nav>
                <ul>
                  <li><a routerLink="/about-us" routerLinkActive="active-link">ABOUT US</a></li>
                  <li><a routerLink="/car-listings" routerLinkActive="active-link">LISTING</a></li>
                  <li><a routerLink="/services" routerLinkActive="active-link">SERVICES</a></li>
                  <li><a routerLink="/how-it-works" routerLinkActive="active-link">HOW IT WORKS</a></li>
                  <li><a routerLink="/news" routerLinkActive="active-link">NEWS</a></li>
                  <li><a routerLink="/contact-us" routerLinkActive="active-link">CONTACT US</a></li>
                </ul>
              </nav>
              <a routerLink="/reservation" class="res-tab"><img src="../../../assets/images/reservation-btn.png"></a>
            </div>
          </div>
        </div><!-- Inner Header -->
      </div>
    </div>
  </header>
  <div class="container">
    <section class="home-aboutarea about-temp">

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 ">
          <img src="../../../assets/images/home-about.jpg">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <h2>Who we are <span>Know <b class="orange">About Us</b> </span></h2>
          <p>Car Central is the leading car rental service that has an extensive range of vehicles at the most
            affordable rent. Our customized packages offer flexibility and reliability to our customers. Whether you are
            a corporate entity looking for a large-scale car rental solution or an individual looking to meet your daily
            commuting needs, we have the right solution to meet your expectations. Get in touch with us to learn about
            our comprehensive services.</p>
          <p>Can Central works with the philosophy to provide optimum customer service. We take our cleanliness and car
            maintenance very seriously to ensure our customers never face any problems. We even have a car assistance
            program for unexpected situations. With car central, we take care of all the worries while you enjoy a
            pleasant ride in your comfortable car. </p>


        </div>
      </div>
    </section>
  </div>
  <section class="client-satisfied clearfix">
    <div class="container">
      <div class="home-heading ">
        <h4 class="wow bounceInDown" style="visibility: visible;">
          <strong>Our Mission is <span class="orange"> Client’s </span>Satisfaction</strong></h4>
      </div>


      <div class="col-xs-12 col-sm-12 col-md-8 col-md-push-2 algin-center">
        <p>At Car Central, we value our customers and believe in offering them the best services in the market. Our aim
          is to offer a viable vehicle solution where the customer only enjoys the ride while we take care of the
          rest.</p>
        <img src="../../../assets/images/client-satistfised.png" class="client-img">
      </div>
    </div>

    <section class="fact-main">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="fact-bx">
                <div class="fact-icon">
                  <img src="../../../assets/images/users-icon.png">
                </div>
                <div class="fact-text">
                  <h2>753+</h2>
                  <p>Dedicated Employees</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="fact-bx">
                <div class="fact-icon">
                  <img src="../../../assets/images/thumb-icon.png">
                </div>
                <div class="fact-text">
                  <h2>9053+</h2>
                  <p>Satisfied Customers</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="fact-bx">
                <div class="fact-icon">
                  <img src="../../../assets/images/car2-icon.png">
                </div>
                <div class="fact-text">
                  <h2>529+</h2>
                  <p>100% Fit Veihicles</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="fact-bx fact-bx1">
                <div class="fact-icon">
                  <img src="../../../assets/images/cup-icon.png">
                </div>
                <div class="fact-text">
                  <h2>111+</h2>
                  <p>Int. Awards Achieved</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <section class="brand-main clearfix">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="brand-bx">
            <img src="../../../assets/images/ab-1.png">
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="brand-bx">
            <img src="../../../assets/images/ab-2.png">
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="brand-bx">
            <img src="../../../assets/images/ab-3.png">
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="brand-bx">
            <img src="../../../assets/images/ab-4.png">
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="brand-bx">
            <img src="../../../assets/images/ab-5.png">
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="brand-bx">
            <img src="../../../assets/images/ab-6.png">
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="Professional-Trainers">
    <div class="container">
      <div class="home-heading ">
        <h4 class="wow bounceInDown"><span> Memebers</span>

          <strong>Our Excellent <span class="orange"> Team </span></strong></h4>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <img src="../../../assets/images/team1.jpg">
          <div class="professional-box">

            <h2>Edward Ljumbarge</h2>
            <h6>Founder</h6>

            <div class="soical-icon">

              <a href="#" class="fa fa-facebook"></a>

              <a href="#" class="fa fa-twitter"></a>

              <a href="#" class="fa fa-linkedin"></a>

            </div>

          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <img src="../../../assets/images/team2.jpg">
          <div class="professional-box">

            <h2>Russel Crow</h2>
            <h6>C.E.O & Co-Founder</h6>


            <div class="soical-icon">

              <a href="#" class="fa fa-facebook"></a>

              <a href="#" class="fa fa-twitter"></a>

              <a href="#" class="fa fa-linkedin"></a>

            </div>

          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <img src="../../../assets/images/team3.jpg">
          <div class="professional-box">

            <h2>Julia Robarts</h2>
            <h6>Director</h6>


            <div class="soical-icon">

              <a href="#" class="fa fa-facebook"></a>

              <a href="#" class="fa fa-twitter"></a>

              <a href="#" class="fa fa-linkedin"></a>

            </div>

          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <img src="../../../assets/images/team4.jpg">
          <div class="professional-box">

            <h2>Angelina Jolly</h2>
            <h6>Manager</h6>


            <div class="soical-icon">

              <a href="#" class="fa fa-facebook"></a>

              <a href="#" class="fa fa-twitter"></a>

              <a href="#" class="fa fa-linkedin"></a>

            </div>

          </div>
        </div>

      </div>

    </div>
  </div>
  <section class="subsciber-area sub-inner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <h3>Newsletter Signup</h3>
          <h4>Subscribe & get <span class="orange">20%</span> Off</h4>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <form method="post" action="">
            <p class="wysija-paragraph">
              <input type="text" title="Email Address" placeholder="Email Address" value="">
            </p>

            <input class="wysija-submit wysija-submit-field" type="submit" value="Subscribe!">
          </form>

        </div>
      </div>
    </div>
  </section>
</div>
