<div>
  <div class="container">
    <section class="home-aboutarea about-temp">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 ">
          <img src="../../../assets/images/home-about.jpg">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <h2>Who we are <span>Know <b class="orange">About Us</b> </span></h2>
          <p>Car Central is the leading car rental service that has an extensive range of vehicles at the most
            affordable rent. Our customized packages offer flexibility and reliability to our customers. Whether you are
            a corporate entity looking for a large-scale car rental solution or an individual looking to meet your daily
            commuting needs, we have the right solution to meet your expectations. Get in touch with us to learn about
            our comprehensive services.</p>
          <p>Can Central works with the philosophy to provide optimum customer service. We take our cleanliness and car
            maintenance very seriously to ensure our customers never face any problems. We even have a car assistance
            program for unexpected situations. With car central, we take care of all the worries while you enjoy a
            pleasant ride in your comfortable car. </p>
        </div>
      </div>
    </section>
  </div>
  <section class="brand-main clearfix">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="brand-bx">
            <img src="../../../assets/images/ab-1.png">
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="brand-bx">
            <img src="../../../assets/images/ab-2.png">
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="brand-bx">
            <img src="../../../assets/images/ab-3.png">
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="brand-bx">
            <img src="../../../assets/images/ab-4.png">
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="brand-bx">
            <img src="../../../assets/images/ab-5.png">
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="brand-bx">
            <img src="../../../assets/images/ab-6.png">
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-subscription></app-subscription>
</div>
