<div>
  <section class="listing-details-main">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-5">
          <div class="login-form">
            <h3>have an account? Log In</h3>
            <form>
              <div class="form-group col-md-12">
                <input type="email" name="inputEmail" class="form-control"
                       [(ngModel)]="loginPayload.email"
                       placeholder="Username / Email">
              </div>
              <div class="form-group col-md-12">
                <input type="password" name="inputPassword" class="form-control"
                       [(ngModel)]="loginPayload.password"
                       placeholder="Passsword">
              </div>
              <div class="col-md-12">
                <button type="submit" (click)="login()"><img src="../../../assets/images/login-btn.png"></button>
              </div>
              <div class="l-keep">
                <div class="col-md-6">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox"> Keep me signed in
                    </label>
                  </div>
                </div>
                <div class="col-md-6">
                  <a href="#" class="forget-login">Forgot password?</a>
                </div>

              </div>

            </form>
            <div class="col-md-12">
              <div class="fb-btn">
                <a href="#">Sign in With Facebook</a>
              </div>
            </div>
            <div class="col-md-12">
              <div class="twiter-btn">
                <a href="#">Sign in With Twitter</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7">

          <div class="register-form">
            <h2>Sign up Now <span>Get <b class="orange">Registered</b> </span></h2>
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" class="form-control"
                         [(ngModel)]="registerPayload.fname"
                         name="firstName"
                         placeholder="First Name">
                </div>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" placeholder="Last Name"
                         [(ngModel)]="registerPayload.lname" name="lastName">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <input type="text" class="form-control" placeholder="Email"
                         [(ngModel)]="registerPayload.email"
                         name="email">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="password" class="form-control" placeholder="Password"
                         [(ngModel)]="registerPayload.password"
                         name="password">
                </div>
                <div class="form-group col-md-6">
                  <input type="password" class="form-control" placeholder="Confirm Password"
                         [(ngModel)]="registerPayload.password_confirmation"
                         name="confirmPassword">
                </div>
              </div>
              <div class="form-row">

                <div class="form-group col-md-6">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox"
                             name="agreeTermAndConditions"
                             [(ngModel)]="registerPayload.agreeTermAndConditions">
                      I agree with the <a href="#">Terms and Conditions</a>
                    </label>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <button type="submit" (click)="register()" [disabled]="!registerPayload.agreeTermAndConditions">
                    <img src="../../../assets/images/signup-btn.png" class="img-responsive">
                  </button>
                </div>

              </div>

            </form>
            <div class="col-md-12">
              <div class="fb-btn">
                <a href="#">Sign in With Facebook</a>
              </div>
            </div>
            <div class="col-md-12">
              <div class="twiter-btn">
                <a href="#">Sign in With Twitter</a>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </section>
  <app-subscription></app-subscription>
</div>
