<div>
  <header>

    <div class="inner-banner">

      <img src="../../../assets/images/service-banner.jpg"/>

      <div class="innerbanner-content">
        <div class="container">
          <h1>Register</h1>
          <div class="breadcrumb-inner">
            <ul>
              <li>Home</li>
              <li><a href="#">- &nbsp;Register</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="uppperlayer-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="logo-res">
              <a routerLink="/"><img src="../../../assets/images/logos.png"></a>
            </div>
          </div>
        </div>

        <div class="innerheader">
          <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
              <a id="logo" routerLink="/"><img src="../../../../assets/images/logos.png"></a>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9">
              <div class="topbar">
                <ul class="top-contact">
                  <li class="fa fa-phone"><a href="#_">(+1) 3214 546789</a></li>
                  <li class="fa fa-envelope"><a href="mailto:info@domain.com">info@domain.com</a></li>
                </ul>
                <ul class="topbar-right">
                  <li><a routerLink="/register" routerLinkActive="active-link">Account</a></li>
                  <li><a href="#">عربى</a></li>
                  <li><a href="#">USD</a></li>
                </ul>
              </div>

              <nav>
                <ul>
                  <li><a routerLink="/about-us" routerLinkActive="active-link">ABOUT US</a></li>
                  <li><a routerLink="/car-listings" routerLinkActive="active-link">LISTING</a></li>
                  <li><a routerLink="/services" routerLinkActive="active-link">SERVICES</a></li>
                  <li><a routerLink="/how-it-works" routerLinkActive="active-link">HOW IT WORKS</a></li>
                  <li><a routerLink="/news" routerLinkActive="active-link">NEWS</a></li>
                  <li><a routerLink="/contact-us" routerLinkActive="active-link">CONTACT US</a></li>
                </ul>
              </nav>
              <a routerLink="/reservation" class="res-tab"><img src="../../../assets/images/reservation-btn.png"></a>
            </div>
          </div>
        </div><!-- Inner Header -->
      </div>
    </div>
  </header>

  <section class="listing-details-main">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-5">
          <div class="login-form">
            <h3>have an account? Log In</h3>
            <form>
              <div class="form-group col-md-12">
                <input type="email" name="inputEmail" class="form-control"
                       [(ngModel)]="loginPayload.email"
                       placeholder="Username / Email">
              </div>
              <div class="form-group col-md-12">
                <input type="password" name="inputPassword" class="form-control"
                       [(ngModel)]="loginPayload.password"
                       placeholder="Passsword">
              </div>
              <div class="col-md-12">
                <button type="submit" (click)="login()"><img src="../../../assets/images/login-btn.png"></button>
              </div>
              <div class="l-keep">
                <div class="col-md-6">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox"> Keep me signed in
                    </label>
                  </div>
                </div>
                <div class="col-md-6">
                  <a href="#" class="forget-login">Forgot password?</a>
                </div>

              </div>

            </form>
            <div class="col-md-12">
              <div class="fb-btn">
                <a href="#">Sign in With Facebook</a>
              </div>
            </div>
            <div class="col-md-12">
              <div class="twiter-btn">
                <a href="#">Sign in With Twitter</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7">

          <div class="register-form">
            <h2>Sign up Now <span>Get <b class="orange">Registered</b> </span></h2>
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" placeholder="First Name">
                </div>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" placeholder="Last Name">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" placeholder="Username">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group col-md-6">
                  <input type="password" class="form-control" placeholder="Confirm Password">
                </div>
              </div>
              <div class="form-row">

                <div class="form-group col-md-6">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox"> I agree with the <a href="#">Terms and
                      Conditions</a>
                    </label>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <button type="submit"><img src="../../../assets/images/signup-btn.png" class="img-responsive">
                  </button>
                </div>

              </div>

            </form>
            <div class="col-md-12">
              <div class="fb-btn">
                <a href="#">Sign in With Facebook</a>
              </div>
            </div>
            <div class="col-md-12">
              <div class="twiter-btn">
                <a href="#">Sign in With Twitter</a>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </section>
  <section class="subsciber-area sub-inner">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Newsletter Signup</h3>
          <h4>Subscribe & get <span class="orange">20%</span> Off</h4>
        </div>
        <div class="col-md-6">
          <form method="post" action="">
            <p class="wysija-paragraph">
              <input type="text" title="Email Address" placeholder="Email Address" value="">
            </p>

            <input class="wysija-submit wysija-submit-field" type="submit" value="Subscribe!">
          </form>

        </div>
      </div>
    </div>
  </section>
</div>
