<div>
  <header>
    <div class="inner-banner">
      <img src="../../assets/images/service-banner.jpg"/>
      <div class="innerbanner-content">
        <div class="container">
          <h1>News Details</h1>
          <div class="breadcrumb-inner">
            <ul>
              <li>Home</li>
              <li><a href="#">- &nbsp;News</a></li>
              <li><a href="#">- &nbsp;News Details</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="uppperlayer-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="logo-res">
              <a routerLink="/"><img src="../../assets/images/logos.png"></a>
            </div>
          </div>
        </div>

        <div class="innerheader">
          <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
              <a id="logo" routerLink="/"><img src="../../assets/images/logos.png"></a>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9">
              <div class="topbar">
                <ul class="top-contact">
                  <li class="fa fa-phone"><a href="#_">(+1) 3214 546789</a></li>
                  <li class="fa fa-envelope"><a href="mailto:info@domain.com">info@domain.com</a></li>
                </ul>
                <ul class="topbar-right">
                  <li><a routerLink="/register">Account</a></li>
                  <li><a href="#">عربى</a></li>
                  <li><a href="#">USD</a></li>
                </ul>
              </div>

              <nav>
                <ul>
                  <li><a routerLink="/about-us">ABOUT US</a></li>
                  <li><a routerLink="/car-listings">LISTING</a></li>
                  <li><a routerLink="/services">SERVICES</a></li>
                  <li><a routerLink="/how-it-works">HOW IT WORKS</a></li>
                  <li><a routerLink="/news">NEWS</a></li>
                  <li><a routerLink="/contact-us">CONTACT US</a></li>
                </ul>
              </nav>
              <a routerLink="/reservation" class="res-tab"><img src="../../assets/images/reservation-btn.png"></a>
            </div>
          </div>
        </div><!-- Inner Header -->
      </div>
    </div>
  </header>

  <section class="news-detail-main">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="news-detail-bx">
            <div class="n-detail-img">
              <img src="../../assets/images/detail-img.jpg">
              <div class="detail-date">
                29 April
              </div>
            </div>
            <div class="n-detail-text">
              <h3>Monotonectally build distinctive convergence and an attempt</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac lorem eu metus congue ultricies in et
                nunc. Nulla sed enim mauris. Proin ultricies commodo fringilla. Suspendisse pellentesque eu nisl a
                vestibulum. Nulla maximus pretium lorem, ac rhoncus tortor tincidunt efficitur. In hac habitasse platea
                dictumst. Sed tincidunt mi eget est fringilla, eu commodo est imperdiet. Fusce interdum nisi vel
                venenatis feugiat. Nunc suscipit, velit vel viverra lobortis, orci tortor dignissim augue, non venenatis
                turpis sem pretium lorem.</p>
              <p>Phasellus at vestibulum felis, sodales ullamcorper ipsum. Duis tincidunt interdum urna, et aliquam
                magna pulvinar ac. Interdum et malesuada fames ac ante ipsum primis in faucibus. Lorem ipsum dolor sit
                amet, consectetur adipiscing elit. Donec vestibulum vel sapien sit amet suscipit. Praesent at lacinia
                dui. Morbi vulputate leo molestie, varius lorem interdum, tempor lorem. Sed laoreet porta leo sed
                dignissim. Nulla et lacus sed turpis commodo placerat sed eu tortor. Curabitur mollis velit ac metus
                vulputate congue.</p>
              <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem ipsum
                dolor sit amet, consectetur adipiscing elit. Pellentesque libero mauris, tincidunt eget massa in,
                posuere volutpat nunc. Praesent suscipit mi malesuada scelerisque euismod. Nam pretium pretium
                fermentum. Nulla mattis feugiat nibh, ac faucibus ligula laoreet sed. Cras suscipit molestie pulvinar.
                Praesent eu accumsan neque.</p>
              <p>Quisque eleifend interdum laoreet. Integer sagittis magna quis ipsum maximus, feugiat elementum felis
                ultricies. Proin feugiat ipsum id eros gravida, sed tempor dolor iaculis. Nulla facilisi. Maecenas quis
                suscipit arcu. Pellentesque ac imperdiet nulla. Suspendisse quis lobortis purus.</p>
              <p>Nunc fermentum, dui at consectetur vestibulum, lectus quam feugiat mauris, nec vehicula sapien nulla et
                odio. Duis vestibulum porta finibus. Mauris ullamcorper eros non sem tincidunt, eu malesuada velit
                dignissim. Curabitur aliquam aliquam ipsum nec mattis. Fusce non congue augue. Vestibulum consequat ut
                enim sit amet dictum. Donec pretium erat nec accumsan mattis. Vivamus ipsum ex, aliquam in porta
                euismod, faucibus non mauris.</p>
            </div>
            <div class="n-detail-social">
              <h3>Share:</h3>
              <ul>
                <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
