<div>

  <!--Header Start-->
  <section class="slider-area">
    <div class="slide-item"
         style="background:url('../../../assets/images/banner-1.jpg')  no-repeat scroll center top #000 ; -o-background-size: cover;    -moz-background-size: cover;    -webkit-background-size:cover;    background-size: cover; height: 800px; "></div>
  </section>
  <div class="uppperlayer-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="logo-res">
            <a routerLink="/"><img src="../../../assets/images/logos.png"></a>
          </div>
        </div>
      </div>

      <div class="innerheader">
        <div class="row">
          <div class="col-xs-12 col-sm-3 col-md-3">
            <a id="logo" routerLink="/"><img src="../../../assets/images/logos.png"></a>
          </div>
          <div class="col-xs-12 col-sm-9 col-md-9">
            <div class="topbar">
              <ul class="top-contact">
                <li class="fa fa-phone"><a href="#_">(+1) 3214 546789</a></li>
                <li class="fa fa-envelope"><a href="mailto:info@domain.com">info@domain.com</a></li>
              </ul>
              <ul class="topbar-right">
                <li *ngIf="!isLoggedIn"><a routerLink="/register" routerLinkActive="active-link">Account</a></li>
                <li *ngIf="isLoggedIn"><a [routerLink]="" (click)="logout()">Logout</a></li>
                <li *ngIf="isLoggedIn">
                  <a routerLink="/profile" routerLinkActive="active-link">Welcome {{userData.name}}</a></li>
                <li><a href="#">عربى</a></li>
                <li><a href="#">عربى</a></li>
                <li><a href="#">USD</a></li>
              </ul>
            </div>

            <nav>
              <ul>
                <li><a routerLink="/about-us" routerLinkActive="active-link">ABOUT US</a></li>
                <li><a routerLink="/car-listings" routerLinkActive="active-link">LISTING</a></li>
                <li><a routerLink="/services" routerLinkActive="active-link">SERVICES</a></li>
                <li><a routerLink="/how-it-works" routerLinkActive="active-link">HOW IT WORKS</a></li>
                <li><a routerLink="/news" routerLinkActive="active-link">NEWS</a></li>
                <li><a routerLink="/contact-us" routerLinkActive="active-link">CONTACT US</a></li>
              </ul>
            </nav>
            <a routerLink="/reservation" class="res-tab"><img src="../../../assets/images/reservation-btn.png"></a>
          </div>
        </div>
      </div><!-- Inner Header -->
    </div>
  </div>
  <div class="slider-form-main">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="slider-form">
            <form>
              <div class="label-form">
                <div class="form-group">
                  <label class="col-form-label">Picking Up</label>
                  <div class="map-icon">
                    <input type="text" #pickupAddress class="form-control"
                           placeholder="ZIP, City, Airport or Address">
                  </div>

                </div>
              </div>

              <div class="label-form">
                <div class="form-group">
                  <label class="col-form-label">Dropping Off</label>
                  <div class="map-icon">
                    <input type="text" #dropOfAddress class="form-control"
                           placeholder="ZIP, City, Airport or Address">
                  </div>
                </div>
              </div>

              <div class="">
                <div class="form-group">
                  <label for="inputPickupDate" class="col-form-label">Pickup Date</label>
                  <input [(ngModel)]="reservation.pickUpDateTime"
                         class="form-control"
                         name="inputPickupDate" id="inputPickupDate"
                         [owlDateTimeTrigger]="pickupDateTimePicker" [owlDateTime]="pickupDateTimePicker">
                  <owl-date-time #pickupDateTimePicker></owl-date-time>
                </div>
              </div>

              <div class="">
                <div class="form-group">
                  <label for="inputDropOfDateTime" class="col-form-label">Dropping Date</label>
                  <input [(ngModel)]="reservation.dropOfDateTime"
                         name="inputDropOfDateTime" id="inputDropOfDateTime"
                         class="form-control"
                         [owlDateTimeTrigger]="dropOfDateTimePicker" [owlDateTime]="dropOfDateTimePicker">
                  <owl-date-time #dropOfDateTimePicker></owl-date-time>
                </div>
              </div>

              <div class="form-row">
                <div class="label-select">
                  <label for="inputCarBrand" class="col-form-label">Car Brand</label>
                  <select id="inputCarBrand" class="form-control">
                    <option *ngFor="let brand of brands" [value]="brand.id">{{brand.brand}}</option>
                  </select>
                </div>
                <div class="label-select pull-right">
                  <label for="inputCarType" class="col-form-label">Car Type</label>
                  <select id="inputCarType" class="form-control">
                    <option *ngFor="let type of types" [value]="type.id">{{type.type}}</option>
                  </select>
                </div>
              </div>

              <div class="form-row">

                <div class="promo-feild-btn">
                  <input type="text" name="" placeholder="Promo Code (Optional)" class="form-control">
                  <div class="form-btn pull-right">
                    <a href="#"><img src="../../../assets/images/search-btn.jpg"></a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="slider-form-info">
            <agm-map [scrollwheel]="false" [zoom]="zoom"
                     [latitude]="latitude" [longitude]="longitude">
              <agm-marker [latitude]="pickupLatitude" [longitude]="pickupLongitude"></agm-marker>
              <agm-marker [latitude]="dropOfLatitude" [longitude]="dropOfLongitude"></agm-marker>
              <!--<agm-polyline [editable]="true">-->
              <!--<agm-polyline-point [latitude]="pickupLatitude" [longitude]="pickupLongitude"></agm-polyline-point>-->
              <!--<agm-polyline-point [latitude]="dropOfLatitude" [longitude]="dropOfLongitude"></agm-polyline-point>-->
              <!--</agm-polyline>-->
            </agm-map>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Header End-->

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <section class="home-services ">
          <h4 class="wow bounceInDown"><span>the Biggest Online</span>
            <strong>car <span class="orange">Rental</span> Service</strong></h4>
          <div class="row home3cars wow bounceInUp">
            <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="content-box">
                <div class="thumb-icon"><img src="../../../assets/images/car-icon1.png" alt=""/></div>
                <h3>Most Affordable</h3>
                <p>Our affordable vehicle packages are ideal for people looking for long-term car rental solutions.</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="content-box orange-box">
                <div class="thumb-icon"><img src="../../../assets/images/car-icon2.png" alt=""/></div>
                <h3>Best Rated</h3>
                <p>We have the best practices in the industry in terms of service, quality, and professionalism</p>

              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="content-box">
                <div class="thumb-icon"><img src="../../../assets/images/car-icon3.png" alt=""/></div>
                <h3>Car Assistance</h3>
                <p>We provide car assistance to save your precious time in case you are stuck in a troublesome
                  situation.</p>

              </div>
            </div>

            <div class="cars wow pulse " data-wow-delay="900ms" data-wow-iteration="infinite"
                 data-wow-duration="6s"></div>

          </div>
        </section>
      </div>
    </div>
  </div>
  <section class="home-aboutarea">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 wow bounceInLeft">
          <img src="../../../assets/images/home-about.jpg"/>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 wow bounceInRight">
          <h2>Who we are <span>Know <b class="orange">About Us</b> </span></h2>
          <br>
          <p>Car Central is the leading car rental service that has an extensive range of vehicles at the most
            affordable rent. Our customized packages offer flexibility and reliability to our customers. Whether you are
            a corporate entity looking for a large-scale car rental solution or an individual looking to meet your daily
            commuting needs, we have the right solution to meet your expectations. Get in touch with us to learn about
            our comprehensive services.</p>
          <br>
          <a class="wow flip" data-wow-iteration="5" data-wow-duration="0.15s" href="#"><img
            src="../../../assets/images/leran-more.jpg"></a>
        </div>
      </div>
    </div>
  </section>
  <section id="section-rentcarea">
    <div class="home-heading ">
      <h4 class="wow bounceInDown"><span>We have a Great</span>
        <strong>collection of <span class="orange">vehicles</span></strong></h4>
    </div>
    <div class="container">
      <div class="rentcar-slider" *ngIf="featuredListings.length">
        <div class="rent-item" *ngFor="let featuredListing of featuredListings;">
          <div class="col-xs-12 col-sm-5 col-md-5">
            <h4>{{featuredListing.name}}</h4>
            <div class="cat-name">{{featuredListing.category.category}}</div>
            <div class="prices">${{featuredListing.rate}} <span>/Day</span></div>
            <p>{{featuredListing.description}}</p>
            <ul>
              <li *ngFor="let feature of featuredListing.features;" class="{{feature.icon}}">
                {{feature.feature}}
              </li>
            </ul>
            <div class="rent-item-btn">
              <a routerLink="/car-listings"><img src="../../../assets/images/view-rent-btn.png"></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-7">
            <!--<a [routerLink]="['/car-listings/details', featuredListing.id]">-->
            <img src="{{BASE_URL}}/resize/{{featuredListing.image_url}}/700/360">
            <!--</a>-->
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="how-can-work">
    <div class="container">
      <div class="home-heading ">
        <h4 class="wow bounceInDown"><span>How it works</span>
          <strong>car Easy Process for<span class="orange"> You</span></strong></h4>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4  how-boxes">
        <div class="content-box ">
          <a href="#">
            <div class="thumb-icon">
              <div class="cricle-img"
                   style="background: url('../../../assets/images/work-icon-clock.png') no-repeat 0 0;"></div>
            </div>
            <h3>Make Plans</h3>
            <p>If you need a ride to fulfill a plan, our quick services will never let you down.</p>
          </a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4  how-boxes">
        <div class="content-box ">
          <a href="#">
            <div class="thumb-icon">
              <div class="cricle-img"
                   style="background: url('../../../assets/images/work-icon-serach.png') no-repeat 0 0;"></div>
            </div>
            <h3>Find a Car</h3>
            <p>Browse through our extensive range of vehicles, choose your vehicle, and make the booking.</p>
          </a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4  how-boxes">
        <div class="content-box ">
          <a href="#">
            <div class="thumb-icon">
              <div class="cricle-img"
                   style="background: url('../../../assets/images/work-icon-key.png') no-repeat 0 0;"></div>
            </div>
            <h3>Enjoy the trip</h3>
            <p>Collect your vehicle from one of our outlets and enjoy your trip.</p>
          </a>
        </div>
      </div>


    </div>
  </div>
  <div class="container">

    <div class="news-areas clearfix">
      <div class="home-heading ">
        <h4 class="wow bounceInDown"><span>our News</span>
          <strong>the Latest<span class="orange"> news</span> </strong></h4>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 newsboxes"
           *ngFor="let news of featuredNews">
        <div class="content-box">
          <div class="datearea">{{ news.created_at | date: 'dd MMMM yyyy'}}</div>
          <div class="thumb-icon">
            <a [routerLink]="['news/details', news.id]"><img src="{{BASE_URL}}/resize/{{news.banner_image}}"></a>
          </div>
          <h3>{{news.title}}</h3>
          <p>{{news.description}}</p>
          <a [routerLink]="['news/details', news.id]">Read more > </a>
        </div>
      </div>
    </div>
  </div>
  <section class="happy-client">
    <div class="container">
      <div class="client-says">
        <div class="client-item">
          <div class="cricle-thumb"><img src="../../../assets/images/client-1.jpg"></div>
          <p>Can central is a very professional and quality oriented company. I have had many experiences with car
            rental companies but they are simple the best. The cars are always clean and they have a big
            collection. </p>
          <div class="star5"><img src="../../../assets/images/star5.png"/></div>
          <h4>Ronald Mathew</h4>
        </div>
        <div class="client-item">
          <div class="cricle-thumb"><img src="../../../assets/images/client-1.jpg"></div>
          <p>By far the best car rental service, I have experienced. Their prices are very affordable and I always get
            the car in pristine condition. The air conditioner works perfectly and the upholstery is neat and clean. A
            Must recommendation. </p>
          <div class="star5"><img src="../../../assets/images/star5.png"/></div>
          <h4>Kerry Ann</h4>
        </div>
      </div>
    </div>
  </section>
  <app-subscription></app-subscription>
</div>
