<div>
  <header>

    <div class="inner-banner">
      <img src="../../../assets/images/service-banner.jpg"/>
      <div class="innerbanner-content">
        <div class="container">
          <h1>Listing Details</h1>
          <div class="breadcrumb-inner">
            <ul>
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/car-listings">- listing</a></li>
              <li>- Listing Details</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="uppperlayer-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="logo-res">
              <a routerLink="/"><img src="../../../assets/images/logos.png"></a>
            </div>
          </div>
        </div>

        <div class="innerheader">
          <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
              <a id="logo" routerLink="/"><img src="../../../assets/images/logos.png"></a>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9">
              <div class="topbar">
                <ul class="top-contact">
                  <li class="fa fa-phone"><a href="#_">(+1) 3214 546789</a></li>
                  <li class="fa fa-envelope"><a href="mailto:info@domain.com">info@domain.com</a></li>
                </ul>
                <ul class="topbar-right">
                  <li><a routerLink="/register" routerLinkActive="active-link">Account</a></li>
                  <li><a href="#">عربى</a></li>
                  <li><a href="#">USD</a></li>
                </ul>
              </div>

              <nav>
                <ul>
                  <li><a routerLink="/about-us" routerLinkActive="active-link">ABOUT US</a></li>
                  <li><a routerLink="/car-listings" routerLinkActive="active-link">LISTING</a></li>
                  <li><a routerLink="/services" routerLinkActive="active-link">SERVICES</a></li>
                  <li><a routerLink="/how-it-works" routerLinkActive="active-link">HOW IT WORKS</a></li>
                  <li><a routerLink="/news" routerLinkActive="active-link">NEWS</a></li>
                  <li><a routerLink="/contact-us" routerLinkActive="active-link">CONTACT US</a></li>
                </ul>
              </nav>
              <a routerLink="/reservation" class="res-tab"><img src="../../../assets/images/reservation-btn.png"></a>
            </div>
          </div>
        </div><!-- Inner Header -->
      </div>
    </div>
  </header>

  <section class="listing-details-main">
    <div class="container">

      <div class="l-detail-head">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10">
            <div class="l-detail-img">
              <img *ngIf="listing" src="{{BASE_URL}}/resize/{{listing.image_url}}">
            </div>
          </div>
          <div class="col-xs-12 col-md-12">
            <div class="l-detail-tab">
              <h2>{{listing?.name}}</h2>
              <h4>{{listing?.category.category}}</h4>
              <tabs>
                <div id="tabs-container">
                  <ul class="tabs-menu">
                    <li class="current"><a href="#tab-1">Features</a></li>
                    <li><a href="#tab-2">Description</a></li>
                    <li><a href="#tab-3">(4) Reviews</a></li>
                  </ul>
                  <div class="tab">
                    <div id="tab-1" class="tab-content">
                      <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4"
                             *ngFor="let features of array_chunks(listing?.features)"
                        >
                          <div class="tab-bx">
                            <ul *ngFor="let feature of features">
                              <li>{{feature.feature}}</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="tab-2" class="tab-content">
                      <p>
                        {{listing?.description}}</p>
                    </div>
                    <div id="tab-3" class="tab-content">
                      <p>Duis egestas fermentum ipsum et commodo. Proin bibendum consectetur elit, hendrerit porta mi
                        dictum eu. </p>
                    </div>
                  </div>
                </div>
              </tabs>
            </div>
          </div>
        </div>
      </div>

      <div class="l-detail-map">
        <div class="row">
          <div class="col-md-12">
            <img src="../../../assets/images/map.jpg" class="img-responsive">
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="book-form">
    <div class="container">

      <div class="how-work-head">
        <div class="row">
          <div class="col-md-12">
            <div class="home-heading ">
              <h4 class="wow bounceInDown"><span>Book Now</span>
                <strong>Make a <span class="orange">Reservation</span></strong></h4>
            </div>
          </div>
        </div>
      </div>

      <div class="l-detail-form">
        <div class="row">
          <div class="col-md-12">
            <div class="l-detail-f">
              <form>

                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="label-form">
                    <div class="form-group">
                      <label class="col-form-label">Picking Up</label>
                      <div class="map-icon">
                        <input type="text" class="form-control" placeholder="ZIP, City, Airport or Address">
                      </div>

                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="label-form">
                    <div class="form-group">
                      <label class="col-form-label">Dropping Off</label>
                      <div class="map-icon">
                        <input type="text" class="form-control" placeholder="ZIP, City, Airport or Address">
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="label-select">
                    <label for="inputPickUpDate" class="col-form-label">Pickup Date</label>
                    <select id="inputPickUpDate" class="form-control">
                      <option>29 Apr</option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="label-select pull-right">
                    <label for="inputPickUpTime" class="col-form-label">Pickup Time</label>
                    <select id="inputPickUpTime" class="form-control">
                      <option>15:30</option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="label-select">
                    <label for="inputReturnDate" class="col-form-label">Return Date</label>
                    <select id="inputReturnDate" class="form-control">
                      <option>29 Apr</option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="label-select pull-right">
                    <label for="inputReturnTime" class="col-form-label">Return Time</label>
                    <select id="inputReturnTime" class="form-control">
                      <option>15:30</option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="label-select">
                    <label for="inputCarBrand" class="col-form-label">Car Brand</label>
                    <select id="inputCarBrand" class="form-control">
                      <option>Audi</option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="label-select pull-right">
                    <label for="inputCarType" class="col-form-label">Car Type</label>
                    <select id="inputCarType" class="form-control">
                      <option>Coupe</option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="promo-feild-btn">
                    <input type="text" name="" placeholder="Promo Code (Optional)" class="form-control">

                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="extra-form">
                    <h4>Extras</h4>
                    <div class="form-check"
                         *ngFor="let extras of listing?.extras | ArrayFilter: 'type': 'extras'">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input"
                               [name]="extras.name"
                               [(ngModel)]="extras.isChecked"
                               (change)="updateTotal(extras)">
                        {{extras.name}}....................<span>${{extras.rate}}</span> / Per {{extras.unit}}
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="extra-form">
                    <h4>Protection</h4>
                    <div class="form-check"
                         *ngFor="let extras of listing?.extras | ArrayFilter: 'type': 'protection'">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input"
                               [name]="extras.name"
                               [(ngModel)]="extras.isChecked"
                               (change)="updateTotal(extras)">
                        {{extras.name}}....................<span>${{extras.rate}}</span> / Per {{extras.unit}}
                      </label>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 col-md-12">
                  <div class="ldetail-total">
                    Total Cost ...........................................................<span>${{total}}<sup>oo</sup></span>
                  </div>
                  <div class="ldetail-btn">
                    <a href="#"><img src="../../../assets/images/book-now-btn.png"></a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>


    </div>
  </section>


  <section class="ldetail-list-main">
    <div class="container">

      <div class="row">
        <div class="ldetail-list">
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="l-product-bx">
              <div class="p-head">
                <h3>2016 Marcedes-Benz SLK</h3>
              </div>
              <div class="p-price">
                <h2>$79<sup>oo</sup><span>/ Day</span></h2>
              </div>
              <div class="p-img">
                <a href="#">
                  <img src="../../../assets/images/listing-car1.jpg">
                </a>
              </div>
              <div class="info">
                <ul>
                  <li>2 Seats</li>
                  <li>2 Bags</li>
                  <li>150 MPG</li>
                  <li>Airbags</li>
                  <li>Manual/auto</li>
                  <li>AC</li>
                  <li>v8 Engine</li>
                </ul>
              </div>
              <div class="p-link">
                <a href="#">View Details</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="l-product-bx">
              <div class="p-head">
                <h3>2016 Chevrolet Malibu</h3>
              </div>
              <div class="p-price">
                <h2>$79<sup>oo</sup><span>/ Day</span></h2>
              </div>
              <div class="p-img">
                <a href="#">
                  <img src="../../../assets/images/listing-car2.jpg">
                </a>
              </div>
              <div class="info">
                <ul>
                  <li>2 Seats</li>
                  <li>2 Bags</li>
                  <li>150 MPG</li>
                  <li>Airbags</li>
                  <li>Manual/auto</li>
                  <li>AC</li>
                  <li>v8 Engine</li>
                </ul>
              </div>
              <div class="p-link">
                <a href="#">View Details</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="l-product-bx">
              <div class="p-head">
                <h3>Bugatti Veyron</h3>
              </div>
              <div class="p-price">
                <h2>$81<sup>oo</sup><span>/ Day</span></h2>
              </div>
              <div class="p-img">
                <a href="#">
                  <img src="../../../assets/images/listing-car3.jpg">
                </a>
              </div>
              <div class="info">
                <ul>
                  <li>2 Seats</li>
                  <li>2 Bags</li>
                  <li>150 MPG</li>
                  <li>Airbags</li>
                  <li>Manual/auto</li>
                  <li>AC</li>
                  <li>v8 Engine</li>
                </ul>
              </div>
              <div class="p-link">
                <a href="#">View Details</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="l-product-bx">
              <div class="p-head">
                <h3>2016 Marcedes-Benz SLK</h3>
              </div>
              <div class="p-price">
                <h2>$79<sup>oo</sup><span>/ Day</span></h2>
              </div>
              <div class="p-img">
                <a href="#">
                  <img src="../../../assets/images/listing-car1.jpg">
                </a>
              </div>
              <div class="info">
                <ul>
                  <li>2 Seats</li>
                  <li>2 Bags</li>
                  <li>150 MPG</li>
                  <li>Airbags</li>
                  <li>Manual/auto</li>
                  <li>AC</li>
                  <li>v8 Engine</li>
                </ul>
              </div>
              <div class="p-link">
                <a href="#">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="subsciber-area sub-inner">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Newsletter Signup</h3>
          <h4>Subscribe & get <span class="orange">20%</span> Off</h4>
        </div>
        <div class="col-md-6">
          <form method="post" action="">
            <p class="wysija-paragraph">
              <input type="text" title="Email Address" placeholder="Email Address" value="">
            </p>

            <input class="wysija-submit wysija-submit-field" type="submit" value="Subscribe!">
          </form>

        </div>
      </div>
    </div>
  </section>
</div>
