<div>
  <header>
    <div class="inner-banner">
      <img src="../../../assets/images/service-banner.jpg"/>
      <div class="innerbanner-content">
        <div class="container">
          <h1>News Details</h1>
          <div class="breadcrumb-inner">
            <ul>
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/news">- News</a></li>
              <li>- News Details</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="uppperlayer-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="logo-res">
              <a routerLink="/"><img src="../../../assets/images/logos.png"></a>
            </div>
          </div>
        </div>

        <div class="innerheader">
          <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
              <a id="logo" routerLink="/"><img src="../../../assets/images/logos.png"></a>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9">
              <div class="topbar">
                <ul class="top-contact">
                  <li class="fa fa-phone"><a href="#_">(+1) 3214 546789</a></li>
                  <li class="fa fa-envelope"><a href="mailto:info@domain.com">info@domain.com</a></li>
                </ul>
                <ul class="topbar-right">
                  <li><a routerLink="/register" routerLinkActive="active-link">Account</a></li>
                  <li><a href="#">عربى</a></li>
                  <li><a href="#">USD</a></li>
                </ul>
              </div>

              <nav>
                <ul>
                  <li><a routerLink="/about-us" routerLinkActive="active-link">ABOUT US</a></li>
                  <li><a routerLink="/car-listings" routerLinkActive="active-link">LISTING</a></li>
                  <li><a routerLink="/services" routerLinkActive="active-link">SERVICES</a></li>
                  <li><a routerLink="/how-it-works" routerLinkActive="active-link">HOW IT WORKS</a></li>
                  <li><a routerLink="/news" routerLinkActive="active-link">NEWS</a></li>
                  <li><a routerLink="/contact-us" routerLinkActive="active-link">CONTACT US</a></li>
                </ul>
              </nav>
              <a routerLink="/reservation" class="res-tab"><img src="../../../assets/images/reservation-btn.png"></a>
            </div>
          </div>
        </div><!-- Inner Header -->
      </div>
    </div>
  </header>

  <section class="news-detail-main">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="news-detail-bx">
            <div class="n-detail-img">
              <img *ngIf="news" src="{{BASE_URL}}/resize/{{news.banner_image}}">
              <div class="detail-date">
                {{ news?.created_at | date: 'dd MMMM yyyy'}}
              </div>
            </div>
            <div class="n-detail-text">
              <h3>{{news?.title}}</h3>
              <p>{{news?.description}}</p>
            </div>
            <div class="n-detail-social">
              <h3>Share:</h3>
              <ul>
                <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
