<div>
  <section class="news-detail-main">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="news-detail-bx">
            <div class="n-detail-img">
              <img *ngIf="news" src="{{BASE_URL}}/resize/{{news.banner_image}}">
              <div class="detail-date">
                {{ news?.created_at | date: 'dd MMMM yyyy'}}
              </div>
            </div>
            <div class="n-detail-text">
              <h3>{{news?.title}}</h3>
              <p>{{news?.description}}</p>
            </div>
            <div class="n-detail-social">
              <h3>Share:</h3>
              <ul>
                <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
