<div>
  <header>

    <div class="inner-banner">

      <img src="../../assets/images/service-banner.jpg"/>

      <div class="innerbanner-content">
        <div class="container">
          <h1>Services</h1>
          <div class="breadcrumb-inner">
            <ul>
              <li>Home</li>
              <li><a href="#">- &nbsp;Services</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="uppperlayer-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="logo-res">
              <a routerLink="/"><img src="../../assets/images/logos.png"></a>
            </div>
          </div>
        </div>

        <div class="innerheader">
          <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
              <a id="logo" routerLink="/"><img src="../../assets/images/logos.png"></a>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9">
              <div class="topbar">
                <ul class="top-contact">
                  <li class="fa fa-phone"><a href="#_">(+1) 3214 546789</a></li>
                  <li class="fa fa-envelope"><a href="mailto:info@domain.com">info@domain.com</a></li>
                </ul>
                <ul class="topbar-right">
                  <li><a routerLink="/register">Account</a></li>
                  <li><a href="#">عربى</a></li>
                  <li><a href="#">USD</a></li>
                </ul>
              </div>

              <nav>
                <ul>
                  <li><a routerLink="/about-us">ABOUT US</a></li>
                  <li><a routerLink="/car-listings">LISTING</a></li>
                  <li><a routerLink="/services">SERVICES</a></li>
                  <li><a routerLink="/how-it-works">HOW IT WORKS</a></li>
                  <li><a routerLink="/news">NEWS</a></li>
                  <li><a routerLink="/contact-us">CONTACT US</a></li>
                </ul>
              </nav>
              <a routerLink="/reservation" class="res-tab"><img src="../../assets/images/reservation-btn.png"></a>
            </div>
          </div>
        </div><!-- Inner Header -->
      </div>
    </div>
  </header>

  <section class="service-main">
    <div class="container">

      <div class="service-head">
        <div class="row">
          <div class="col-md-12">
            <div class="home-heading ">
              <h4 class="wow bounceInDown"><span>the Biggest Online</span>
                <strong>car <span class="orange">Rental</span>Service</strong></h4>
            </div>
            <p>We believe in offering our clients real value for money and a unique driving pleasure, which is why we
              have the biggest collection of cars in online rental business. Our customers can enjoy the look and feel
              of different vehicles for a very nominal price. We take pride in offering our customers the opportunity to
              try out different vehicles.</p>
          </div>
        </div>
      </div>

      <div class="service-info">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 no-padding s-equal">
            <div class="service-bx">
              <div class="sicon-title">
                <img src="../../assets/images/s-icon1.png">
                <h3>Most Affordable</h3>
              </div>
              <p>Our primary goal is to offer our customers a reliable and affordable solution, which is why we have
                managed to keep our prices below the industry average. Our effective business practices and superior
                business models allow us to lower our administrative costs. Our vehicles are highly affordable and a
                true bargain when it comes to car rentals. With our solutions, you can drive expensive and exotic cars
                without spending high costs. Here is why we stand out:</p>
              <div class="service-list">
                <ul>
                  <li>Best prices in the industry</li>
                  <li>Biggest collection of cars</li>
                  <li>Well maintained and regularly services</li>
                  <li>Latest models of vehicles</li>
                  <li>Different Colors/variants available</li>
                </ul>
              </div>
            </div>

          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 no-padding s-equal">
            <img src="../../assets/images/s-1.jpg" class="img-responsive s-equal-img">
          </div>
        </div>
      </div>
      <div class="service-info">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 no-padding s-equal">
            <img src="../../assets/images/s-2.jpg" class="img-responsive s-equal-img">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 no-padding s-equal">
            <div class="service-bx s-bx2">
              <div class="sicon-title">
                <img src="../../assets/images/s-icon2.png">
                <h3>Best Rated</h3>
              </div>
              <p>Our dedicated customer services and high customer satisfaction has made us a top-rated car rental
                provider in the market. We have refined our policies and practices to enhance the overall experience of
                our customers, which is why we are able to achieve high customer satisfaction. We have implemented
                processes to measure our customer experience and do everything in our power to keep our customers
                satisfied. Here is why we are the best rated company in the market:</p>
              <div class="service-list">
                <ul>
                  <li>Qualified and professional staff</li>
                  <li>Friendly customer support</li>
                  <li>Round-the-clock operations for emergencies</li>
                  <li>Quick response time to queries</li>
                  <li>Simple and efficient processing systems</li>
                </ul>
              </div>
            </div>

          </div>

        </div>
      </div>
      <div class="service-info">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 no-padding s-equal">
            <div class="service-bx s-bx3">
              <div class="sicon-title">
                <img src="../../assets/images/s-icon3.png">
                <h3>Car Assistance</h3>
              </div>
              <p>Car Central believes in the ease and comfort of our customers. For this reason, we offer a
                comprehensive car assistance program with all our vehicles to facilitate our customers in every way
                possible. Despite our best practices and measures, there is possibility of breakdowns, flat tires,
                lockouts, and accidents. However, we do not let our customers suffer and have professional team that is
                ready to move the instant you find yourself in trouble. Our established network ensures quick response
                to any part of the region. Here is what we offer in car assistance program:</p>
              <div class="service-list">
                <ul>
                  <li><strong>Lockout:</strong> in case you are locked out of your car and keys left inside</li>
                  <li><strong>Flat Tire:</strong> Need help with changing the tires; we are there for you</li>
                  <li><strong>Breakdowns:</strong> The car is not responding; drive a replacement vehicle while we fix
                    your car
                  </li>
                  <li><strong>Jump Start:</strong> if your vehicle will not start, our team will come with a replacement
                    battery
                  </li>
                  <li><strong>Accidents:</strong> In case you meet an unexpected incident, we will tow-away the vehicle
                    and provide a replacement
                  </li>
                </ul>
              </div>
            </div>

          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 no-padding s-equal">
            <img src="../../assets/images/s-3.jpg" class="img-responsive s-equal-img">
          </div>
        </div>
      </div>


    </div>

  </section>
</div>
