<div>
  <header>
    <div class="inner-banner">
      <img src="../../assets/images/service-banner.jpg"/>
      <div class="innerbanner-content">
        <div class="container">
          <h1>Car Reservation</h1>
          <div class="breadcrumb-inner">
            <ul>
              <li>Home</li>
              <li><a href="#">- &nbsp;

                Car Reservation</a></li>
            </ul>

          </div>
        </div>
      </div>
    </div>
    <div class="uppperlayer-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="logo-res">
              <a routerLink="/"><img src="../../assets/images/logos.png"></a>
            </div>
          </div>
        </div>

        <div class="innerheader">
          <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
              <a id="logo" routerLink="/"><img src="../../assets/images/logos.png"></a>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9">
              <div class="topbar">
                <ul class="top-contact">
                  <li class="fa fa-phone"><a href="#_">0096892009933</a></li>
                  <li class="fa fa-envelope"><a href="mailto:info@domain.com">info@domain.com</a></li>
                </ul>
                <ul class="topbar-right">
                  <li><a routerLink="/register" routerLinkActive="active-link">Account</a></li>
                  <li><a href="#">عربى</a></li>
                  <li><a href="#">USD</a></li>
                </ul>
              </div>

              <nav>
                <ul>
                  <li><a routerLink="/about-us" routerLinkActive="active-link">ABOUT US</a></li>
                  <li><a routerLink="/car-listings" routerLinkActive="active-link">LISTING</a></li>
                  <li><a routerLink="/services" routerLinkActive="active-link">SERVICES</a></li>
                  <li><a routerLink="/how-it-works" routerLinkActive="active-link">HOW IT WORKS</a></li>
                  <li><a routerLink="/news" routerLinkActive="active-link">NEWS</a></li>
                  <li><a routerLink="/contact-us" routerLinkActive="active-link">CONTACT US</a></li>
                </ul>
              </nav>
              <a routerLink="/reservation" class="res-tab"><img src="../../assets/images/reservation-btn.png"></a>
            </div>
          </div>
        </div><!-- Inner Header -->
      </div>
    </div>
  </header>

  <section class="reservation-list-main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div id="tabs-container">
            <ul class="tabs-menu">
              <li class="current"><a href="#tab-1"><strong>1.</strong> Make a Reservation</a></li>
              <li><a href="#tab-2"><strong>2.</strong> Select your Car</a></li>
              <li><a href="#tab-3"><strong>3.</strong> Choose your Options</a></li>
              <li><a href="#tab-4"><strong>4.</strong> Information & Review</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="reservation-tab-main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div id="tabs-container2">
            <div class="tab">
              <div id="tab-1" class="tab-content">
                <div class="reservation-form">
                  <form>
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="label-form">
                          <div class="form-group">
                            <label class="col-form-label">Picking Up</label>
                            <div class="map-icon">
                              <input type="text" class="form-control"
                                     placeholder="ZIP, City, Airport or Address">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="label-form">
                          <div class="form-group">
                            <label class="col-form-label">Dropping Off</label>
                            <div class="map-icon">
                              <input type="text" class="form-control"
                                     placeholder="ZIP, City, Airport or Address">
                            </div>

                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-6">
                            <div class="label-select">
                              <label for="inputPickUpDate1" class="col-form-label">Pickup Date</label>
                              <select id="inputPickUpDate1" class="form-control">
                                <option>29 Apr</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-12 col-md-6">
                            <div class="label-select pull-right">
                              <label for="inputPickUpTime1" class="col-form-label">Pickup Time</label>
                              <select id="inputPickUpTime1" class="form-control">
                                <option>15:30</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-6">
                            <div class="label-select">
                              <label for="inputPickUpDate2" class="col-form-label">Pickup Date</label>
                              <select id="inputPickUpDate2" class="form-control">
                                <option>29 Apr</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-12 col-md-6">
                            <div class="label-select pull-right">
                              <label for="inputPickUpTime2" class="col-form-label">Pickup Time</label>
                              <select id="inputPickUpTime2" class="form-control">
                                <option>15:30</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-6">
                            <div class="label-select">
                              <label for="inputCity" class="col-form-label">Pickup Date</label>
                              <select id="inputState" class="form-control">
                                <option>29 Apr</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-12 col-md-6">
                            <div class="label-select pull-right">
                              <label for="inputState" class="col-form-label">Pickup Time</label>
                              <select id="inputState" class="form-control">
                                <option>15:30</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-8">
                            <div class="res-poromo">
                              <input type="text" name="" placeholder="PROMO CODE (Optional)" class="form-control">
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-12 col-md-4">
                            <a href="#"><img src="../../assets/images/cnt-res-btn.jpg" class="img-responsive"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div id="tab-2" class="tab-content">
                <div class="second-tab-main">
                  <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="s-t-text">
                        <div class="s-t-label">
                          <a href="#"><img src="../../assets/images/load-icon.png"></a>
                        </div>
                        <h3>Pick-up</h3>
                        <h4>Friday, May 28, 2016 at 09:00 am</h4>
                        <p>Adelaide Airport, Adelaide South Australia, 500 Australia</p>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="s-t-text">
                        <div class="s-t-label">
                          <a href="#"><img src="../../assets/images/load-icon.png"></a>
                        </div>
                        <h3>Return</h3>
                        <h4>Friday, May 28, 2016 at 09:00 am</h4>
                        <p>Adelaide Airport, Adelaide South Australia, 500 Australia</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="res-car-detail">
                  <div class="row">
                    <div class="col-xs-12 col-md-12">
                      <div class="res-select-bx">
                        <select class="form-control">
                          <option>All Category</option>
                          <option>Texas</option>
                          <option>Texas</option>
                        </select>
                        <select class="form-control">
                          <option>All Brands</option>
                          <option>Texas</option>
                          <option>Texas</option>
                        </select>
                        <select class="form-control">
                          <option>any Price</option>
                          <option>Texas</option>
                          <option>Texas</option>
                        </select>
                      </div>
                      <div class="res-car-d">
                        <div class="row">
                          <div class="col-xs-12 col-sm-6 col-md-4">
                            <img src="../../assets/images/car-1.jpg" class="img-responsive">
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-3">
                            <h3>2017 Hyundai Santa Fe</h3>
                            <p>Luxury Sports Car</p>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="p-price">
                              <h2>$79<sup>oo</sup><span>/ Day</span></h2>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-2">
                            <a href="#"><img src="../../assets/images/select-btn.png" class="img-responsive"></a>
                          </div>
                        </div>
                      </div>
                      <div class="res-car-d">
                        <div class="row">
                          <div class="col-xs-12 col-sm-6 col-md-4">
                            <img src="../../assets/images/car-2.jpg" class="img-responsive">
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-3">
                            <h3>2017 Hyundai Santa Fe</h3>
                            <p>Luxury Sports Car</p>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="p-price">
                              <h2>$79<sup>oo</sup><span>/ Day</span></h2>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-2">
                            <a href="#"><img src="../../assets/images/select-btn.png" class="img-responsive"></a>
                          </div>
                        </div>
                      </div>
                      <div class="res-car-d">
                        <div class="row">
                          <div class="col-xs-12 col-sm-6 col-md-4">
                            <img src="../../assets/images/car-3.jpg" class="img-responsive">
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-3">
                            <h3>2017 Hyundai Santa Fe</h3>
                            <p>Luxury Sports Car</p>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="p-price">
                              <h2>$79<sup>oo</sup><span>/ Day</span></h2>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-2">
                            <a href="#"><img src="../../assets/images/select-btn.png" class="img-responsive"></a>
                          </div>
                        </div>
                      </div>
                      <div class="res-car-d">
                        <div class="row">
                          <div class="col-xs-12 col-sm-6 col-md-4">
                            <img src="../../assets/images/car-4.jpg" class="img-responsive">
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-3">
                            <h3>2017 Hyundai Santa Fe</h3>
                            <p>Luxury Sports Car</p>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="p-price">
                              <h2>$79<sup>oo</sup><span>/ Day</span></h2>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-2">
                            <a href="#"><img src="../../assets/images/select-btn.png" class="img-responsive"></a>
                          </div>
                        </div>
                      </div>
                      <div class="res-car-d">
                        <div class="row">
                          <div class="col-xs-12 col-sm-6 col-md-4">
                            <img src="../../assets/images/car-5.jpg" class="img-responsive">
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-3">
                            <h3>2017 Hyundai Santa Fe</h3>
                            <p>Luxury Sports Car</p>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="p-price">
                              <h2>$79<sup>oo</sup><span>/ Day</span></h2>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-2">
                            <a href="#"><img src="../../assets/images/select-btn.png" class="img-responsive"></a>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-3" class="tab-content">
                <div class="res-tab-third">
                  <div class="second-tab-main">
                    <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="s-t-text">
                          <div class="s-t-label">
                            <a href="#"><img src="../../assets/images/load-icon.png"></a>
                          </div>
                          <h3>Pick-up</h3>
                          <h4>Friday, May 28, 2016 at 09:00 am</h4>
                          <p>Adelaide Airport, Adelaide South Australia, 500 Australia</p>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="s-t-text">
                          <div class="s-t-label">
                            <a href="#"><img src="../../assets/images/load-icon.png"></a>
                          </div>
                          <h3>Return</h3>
                          <h4>Friday, May 28, 2016 at 09:00 am</h4>
                          <p>Adelaide Airport, Adelaide South Australia, 500 Australia</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="second-tab-main">
                    <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="s-t-text">
                          <img src="../../assets/images/car-2.jpg" class="img-responsive">
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="s-t-label">
                          <a href="#"><img src="../../assets/images/load-icon.png"></a>
                        </div>
                        <div class="s-t-text">
                          <h2>Lamborghini Aventador</h2>
                          <p>Luxury Sports Car</p>
                          <ul class="res-tab-third-list">
                            <li>2 Seats</li>
                            <li>2 Bags</li>
                            <li>150 MPG</li>
                            <li>Airbags</li>
                            <li>Manual/auto</li>
                            <li>AC</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="res-third-listing">
                    <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="third-listing">
                          <div class="extra-form">
                            <h4>Extras</h4>


                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                Additional Driver .............................................<span>$120</span> / Per
                                Rental
                              </label>
                            </div>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                GPS
                                ..........................................................................<span>$24</span>
                                / Per Day
                              </label>
                            </div>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                Biycicle Rack ...........................................................
                                <span>$40</span> / Per Rental
                              </label>
                            </div>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                Music ....................................................................
                                <span>$50</span> / Per Rental
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="third-listing">
                          <div class="extra-form">
                            <h4>Protection</h4>


                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                Collision Damage Waiver ........................................<span>$500</span> / Per
                                Rental
                              </label>
                            </div>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                Theft Protection ................................................... <span>$125</span> /
                                Per Day
                              </label>
                            </div>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                Rental Contract Fee ................................................. <span>$10</span> /
                                Per Rental
                              </label>
                            </div>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                Personal First Aid Service ........................................ <span>$25</span> /
                                Per Rental
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="res-third-btn">
                          <a href="#"><img src="../../assets/images/cnt-res-btn.jpg"></a>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-4" class="tab-content">
                <div class="forth-tab-main">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                      <div class="forth-tab-form">
                        <form>
                          <h2>Personal Info</h2>
                          <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6">
                              <input type="text" name="" placeholder="First Name *">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                              <input type="text" name="" placeholder="Last Name * ">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                              <input type="tel" name="" placeholder="Phone *">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                              <input type="email" name="" placeholder="Email *">
                            </div>

                            <div class="col-xs-12 col-md-12 marg-top">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                <p>Send me promotional email offers from Wheel and its partners.</p>
                              </label>
                            </div>
                            <div class="col-xs-12 col-md-12">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                <p>I want to recieve text messages regarding my reservation. See <a href="#"
                                                                                                    style="color: #f44336;font-size: 15px;text-decoration: underline!important;">Terms.</a>
                                </p>
                              </label>
                            </div>
                            <div class="col-xs-12 col-md-12 marg-top">
                              <h2>Airline Info <sup><i class="fa fa-info-circle" style="color: #999999;"
                                                       aria-hidden="true"></i></sup></h2>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                              <select>
                                <option>Select Airline</option>
                                <option>1</option>
                                <option>2</option>
                              </select>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                              <input type="text" name="" placeholder="Flight Number">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 marg-top por-list">
                              <h2 class="marg-top">Your Order</h2>
                              <p>Porsche Cayman <span style="color: #262626">($54.00 x 2 Days) </span>
                                ........................................................ <span style="color: #262626">$108.00</span>
                              </p>
                              <p>Extra Options <span style="color: #262626"> x 2 </span>
                                .....................................................................................<span
                                  style="color: #262626">$25.00</span></p>
                              <p>Protection <span style="color: #262626">x 2 </span>
                                .........................................................................................
                                <span style="color: #262626">$15.00</span></p>
                              <p>Other Fees <span style="color: #262626">($54.00 x 2 Days) </span>
                                ................................................................... <span
                                  style="color: #262626">$30.00</span></p>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                              <div class="pay-res">
                                <h2>Payment Method</h2>
                                <div class="row">
                                  <div class="col-xs-12 col-sm-12 col-md-6">
                                    <div class="form-check">
                                      <label class="form-check-label">
                                        <input type="radio" class="form-check-input">
                                        Pay with Paypal
                                      </label>
                                    </div>
                                  </div>
                                  <div class="col-xs-12 col-sm-12 col-md-6">
                                    <div class="form-check">
                                      <label class="form-check-label">
                                        <input type="radio" class="form-check-input">
                                        Pay with Credit Card
                                      </label>
                                    </div>
                                  </div>
                                </div>
                                <div class="fout-b-list">
                                  <p> Estimated Total ............................. <span>$178.00</span></p>
                                </div>
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input">
                                    I agree with the <a href="#"
                                                        style="color: #f44336;font-size: 15px;text-decoration: underline!important;">Terms
                                    and Conditions</a>
                                  </label>
                                </div>
                                <a href="#" class="forth-btn-it"><img src="../../assets/images/b-it-now.png"></a>
                              </div>
                            </div>

                          </div>

                        </form>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                      <div class="second-tab-main">
                        <div class="row">
                          <div class="col-xs-12 col-md-12">
                            <div class="s-t-text">
                              <div class="s-t-label">
                                <a href="#"><img src="../../assets/images/load-icon.png"></a>
                              </div>
                              <h3>Pick-up</h3>
                              <h4>Friday, May 28, 2016 at 09:00 am</h4>
                              <p>Adelaide Airport, Adelaide South Australia, 500 Australia</p>
                            </div>
                          </div>
                          <div class="col-xs-12 col-md-12">
                            <div class="s-t-text">
                              <div class="s-t-label">
                                <a href="#"><img src="../../assets/images/load-icon.png"></a>
                              </div>
                              <h3>Return</h3>
                              <h4>Friday, May 28, 2016 at 09:00 am</h4>
                              <p>Adelaide Airport, Adelaide South Australia, 500 Australia</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="second-tab-main forth-t-bx">
                        <div class="row">
                          <div class="col-xs-12 col-md-12">

                            <div class="s-t-text">
                              <div class="s-t-label">
                                <a href="#"><img src="../../assets/images/load-icon.png"></a>
                              </div>
                              <img src="../../assets/images/car-2.jpg" class="img-responsive">
                            </div>
                          </div>
                          <div class="col-xs-12 col-md-12">

                            <div class="s-t-text">
                              <h2>Lamborghini Aventador</h2>
                              <p>Luxury Sports Car</p>
                              <ul class="res-tab-third-list">
                                <li>2 Seats</li>
                                <li>2 Bags</li>
                                <li>150 MPG</li>
                                <li>Airbags</li>
                                <li>Manual/auto</li>
                                <li>AC</li>
                              </ul>
                            </div>
                          </div>

                          <div class="third-listing">
                            <div class="extra-form">
                              <div class="s-t-label">
                                <a href="#"><img src="../../assets/images/load-icon.png"></a>
                              </div>
                              <h4>Choosen Options</h4>


                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input">
                                  Additional Driver ......................................<span>$120</span> / Per Rental
                                </label>
                              </div>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input">
                                  GPS ..................................................................<span>$24</span>
                                  / Per Day
                                </label>
                              </div>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input">
                                  Biycicle Rack ...................................................<span>$40</span> /
                                  Per Rental
                                </label>
                              </div>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input">
                                  Music ........................................................... <span>$50</span> /
                                  Per Rental
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="subsciber-area sub-inner">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Newsletter Signup</h3>
          <h4>Subscribe & get <span class="orange">20%</span> Off</h4>
        </div>
        <div class="col-md-6">
          <form method="post" action="">
            <p class="wysija-paragraph">
              <input type="text" title="Email Address" placeholder="Email Address" value="">
            </p>

            <input class="wysija-submit wysija-submit-field" type="submit" value="Subscribe!">
          </form>

        </div>
      </div>
    </div>
  </section>
</div>
