<div>
  <section class="how-work-main">
    <div class="container">

      <div class="how-work-head">
        <div class="row">
          <div class="col-md-12">
            <div class="home-heading ">
              <h4 class="wow bounceInDown"><span>How it works</span>
                <strong>Easy Process for <span class="orange">You</span></strong></h4>
            </div>
          </div>
        </div>
      </div>

      <div class="how-work-info">
        <div class="row">
          <div class="col-md-12">
            <div class="how-work-bx">
              <div class="how-work-icon">
                <a href="#">
                  <div class="thumb-icon">
                    <div class="how-work-icon-hover"
                         style="background: url(../../../../assets/images/work-icon-clock.png) no-repeat 0 0;"></div>
                  </div>
                </a>
              </div>
              <div class="how-work-text">
                <h5>Step 01</h5>
                <h3><a href="#">Make Plans</a></h3>
                <p>If you need a ride to fulfill a plan, our quick services will never let you down. Our quick delivery
                  system ensures that you will not miss your appointments or meetings at any cost. We have a quick
                  booking and delivery process to facilitate you in every way possible. If you are running short on
                  cars, then Car Central is your best solution.</p>
              </div>
            </div>
            <div class="how-work-bx">
              <div class="how-work-icon">
                <a href="#">
                  <div class="thumb-icon">
                    <div class="how-work-icon-hover"
                         style="background: url(../../../../assets/images/work-icon-serach.png) no-repeat 0 0;"></div>
                  </div>
                </a>
              </div>
              <div class="how-work-text">
                <h5>Step 02</h5>
                <h3><a href="#">Find a Car</a></h3>
                <p>Browse through our extensive range of vehicles, choose your vehicle, and make the booking. Our latest
                  and wide range of vehicles will ensure that you drive the latest models for a bargain. You can choose
                  the vehicle based on features, size or economy.</p>
              </div>
            </div>
            <div class="how-work-bx">
              <div class="how-work-icon">
                <a href="#">
                  <div class="thumb-icon">
                    <div class="how-work-icon-hover"
                         style="background: url(../../../../assets/images/work-icon-key.png) no-repeat 0 0;"></div>
                  </div>
                </a>
              </div>
              <div class="how-work-text">
                <h5>Step 03</h5>
                <h3><a href="#">Enjoy the Trip</a></h3>
                <p>Collect your vehicle from one of our outlets and enjoy your trip. We have multiple offices and
                  locations where you can conveniently collect and drop your vehicle. You can return the vehicle at any
                  of the outlets, regardless of the pickup point.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>
